main {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    min-height: 80vh;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

.offers {
    flex: 3;
    background-color: lightgray;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.offer {
    display: flex;
    padding: 1.5rem;
    background-color: whitesmoke;
    flex-flow: column nowrap;
    gap: 0.5rem;
    border-radius: 1rem;
}
.buy-btn a {
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-style: normal;
    border-radius: 1.2rem;
    padding: 0.5rem;
    background-color: rgb(29, 29, 29);
    color: white;
}
.sold-out {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    color: darkslategray;
    background-color: rgb(202, 202, 202);
    border-radius: 1rem;
    text-align: center;
}
.buy-btn a:hover {
    background-color: darkslategray;
    color: white;
}
.offer-name {
    font-size: 2rem;
    text-align: center;
    color: darkslategray;
    margin-bottom: 1rem;
}
.offer-price {
    text-align: center;
}