/* Styles for the offer creation page. */

main {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    padding: 2rem;
    border: 2px solid black;
    min-width: 600px;
    width: max-content;
}
form input {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
form textarea {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem;
}

form label {
    font-size: 1.5rem;
}

.offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.offer {
    background-color: aliceblue;
    color: black;
}

form option {
    font-size: 1.5rem;
}